sudo yum -y install tmux

# copy files and run bash profile
sudo rsync -a /vagrant/conf/tmux.conf ~/.tmux.conf
sudo rsync -a /vagrant/conf/redblue.sh ~/redblue.sh
sudo rsync -a /vagrant/conf/bash_vagrant ~/.bash_vagrant

# ensure that files are executable
chmod u+x ~/.tmux.conf ~/redblue.sh ~/.bash_vagrant

echo "~/.bash_vagrant" >> ~/.bashrc

